body{
background-repeat:no-repeat;
background-attachment:fixed;
}
h1{
color:maroon;
margin-left:10px;
}
p.normal
{
color:blue;
font-size:20px;
font-size:small;
font-size:large;
font-style:italic;
font-weight:bold;
font-weight:bolder;
font-weight:1000;
}

p.normal
{
text-align:right;
text-align:center;
text-align:left;"
}


img:hover 
{
  border:3px solid yellow;
height:50%;
opacity:0.4;
}

p.abc
{

}

 

